$header-left-color: #ffaf26; // #f9a13e
$header-right-color: #dd496b; // #cc648c
$background-color: #f4f3f2;

$black: #222;
$black-hover: rgba(34, 34, 34, 0.1);
$white-hover: rgba(255, 255, 255, 0.25);

$title-color: $black;
$font-color: #444;
