$header-left-color: #ffaf26; // #f9a13e
$header-right-color: #dd496b; // #cc648c
$background-color: white;

$black: #222;
$black-hover: rgba(34, 34, 34, 0.1);

$title-color: $black;
$font-color: #444;
